<%= li_for_item(item) do %>
<div class="view">
  <%= form_for_item_status(item) %>
</div>
<% end %>


<% if false %>
<%= li_for_item(item) do %>
<div class="view">
  <%= form_with model: [@list, item], local: true do |f| %>
  <%= hidden_field_tag("item[status]", "0") %>
  <%= check_box_tag("item[status]", "1", item.complete?, class: "toggle") %>
  <%= label_tag("item[status]", "#{item.description}") %>
  <% end %>
</div>
<% end %>
<% end %>
